/* You can add global styles to this file, and also import other style files */
@import 'normalize';
@import 'vars';
html {
  font-family: Roboto, sans-serif;
}

body {
  background: $background;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

@include input;
@include button;
