@import '../../styles/vars';
.card {
  width: 25rem;
  height: 24rem;
  background: #6200EE;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  @include card;
  @include mobile {
    width: 85%;
  }
}
form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
h3 {
  margin: 0.5rem 0 1rem;
}
button {
  margin-top: 1rem;
}
.shadow {
  z-index: -1;
  @include shadow;
}
