<main [ngClass]="{'overflow': edit}">
  <article class="edit" *ngIf="edit">
    <app-edit-item [item]="edit?.item"
                   [index]="edit?.index"
                   (editClose)="editClose()"
                   (editOutput)="editSave($event)"></app-edit-item>
  </article>
  <aside class="manage-container">
    <section class="create-item-container">
      <app-manage></app-manage>
    </section>
  </aside>
  <article class="todo-container">
    <section class="todos">
      <ng-container *ngFor="let todo of appService.todoArr[appService.page]; let i = index">
        <app-todo-item [item]="todo" [index]="i" (edit)="editInit($event)"></app-todo-item>
      </ng-container>
      <div class="pagination">
        <ng-container *ngFor="let page of appService.todoArr; let i = index">
          <div class="page"
               [ngClass]="{'active': i === appService.page}"
               *ngIf="appService.todoArr.length > 1"
               (click)="appService.page = i">
            <span class="number">{{i + 1}}</span>
          </div>
        </ng-container>
      </div>
    </section>
  </article>
</main>

