<section>
  <div class="title">
    Add new Todo item
  </div>
  <form #createForm="ngForm">
    <input type="text" name="title" [(ngModel)]="title">
    <textarea type="text" name="description" [(ngModel)]="description"></textarea>
    <button type="submit" (click)="createItem( createForm, $event )">Add</button>
  </form>
</section>
<section>
  <div class="title">
    Filter by
  </div>
  <div class="filters">
    <input type="text" (input)="filterByTitle($event)">
    <input type="text" (input)="filterByDate($event)">
  </div>
</section>
