@import '../../styles/vars';
.mobile-header {
  display: none;
  @include mobile-and-tablet {
    display: flex;
    height: 3rem;
    margin-bottom: 0.5rem;
    justify-content: flex-end;
  }
}
section {
  display: flex;
  flex-flow: column;
  @include mobile-and-tablet {
    position: fixed;
    opacity: 0;
    z-index: -1;
    @include card;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-height: 24rem;

    margin: auto;
    &.active {
      opacity: 1;
      z-index: 10;
    }
  }
  @include mobile {
    width: 85%;
  }
  @include tablet {
    width: 25rem;
  }
}
.shadow {
  z-index: 9;
  @include shadow;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filters {
  display: flex;
  flex-flow: column;
}
