@import '../../styles/vars';

.card {
  max-width: 20rem;
  height: 10rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  padding: 1rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;


  .title {


  }
  .description {
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:host {
  margin-bottom: 1rem;

  @include mobile {
    flex-basis: 49%;
  }
}
